<html>
    <head></head>
    <body>
        <form action={{note.id}} method="POST">
            {% csrf_token %}
            <label>title:</label>
            <input name="title" value={{note.title}}>
            <label>content:</label>
            <textarea name="content">{{ note.content }}</textarea>
            <button type="submit">Save</button>
            
        </form>
        <button><a href="/dashboard">Cancel</a></button>
        <form action="/note-delete/{{note.id}}" method="POST">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </body>
</html>